name: Build

on:
  workflow_dispatch:
    inputs:
      aseprite-git-ref:
        required: true
        type: string
        description: The desired Aseprite git ref to build from.
        default: main
      aseprite-build-type:
        required: true
        type: string
        description: Usually one of 'Debug', 'Release', or 'RelWithDebInfo'.
        default: Release

concurrency:
  group: ${{ github.workflow }}-${{ github.event.inputs.aseprite-git-ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  build-and-push:
    uses: ./.github/workflows/base.yml
    with:
      aseprite-git-ref: ${{ github.event.inputs.aseprite-git-ref }}
      aseprite-build-type: ${{ github.event.inputs.aseprite-build-type }}
    secrets:
      ghcr-token: ${{ secrets.GITHUB_TOKEN }}
